.headbar {
  background-color: #557153;
  position: fixed;
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  top: 0;
  left: 0;
  z-index: 100;
}
.left-container,
.right-container {
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 60px;
}


/* .logo {
  border: 1px black solid;
  background-color: black;
  height: 40px;
  width: 40px;
} */
.name {
  font-size: 30px;
  font-weight: 900;
  color: white;
  white-space: nowrap;
}
#maintop-nav {
  white-space: nowrap;
}
#maintop-nav li{
  display: inline;
}
#maintop-nav li a:visited{
  color: white;
}
#maintop-nav li a{
  text-decoration: none;
  padding: 0 10px;
  white-space: nowrap;
}




