.main-content {
  position: absolute;
  top: 60px;
  left: 5%;
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#greeting {
  line-height: 50px;
  color: #557153;
}
#hello-world {
  display: block;
}
#name-intro {
  display: block;
  font-size: 2rem;
  font-weight: bolder;
}
#goal {
  display: block;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-content .contact-button {
  background: none;
  border: 5px grey solid;
  font-size: 24px;
  border-radius: 10px;
  padding: 20px;
  color: grey;
  font-weight: 700;
  transition: .25s;
}

.main-content .contact-button:hover {
  background-color: #557153;
  color: rgba(255, 255, 255, 0.651);;
}