.sidebar {
  position: fixed;
  background-color: #7d8f69;
  height:100%;
  width: 5%;
  left: 0;
  top: 60px;
  display: flex;
  flex: column;
  align-items: center ;
  justify-content: center;
}
ul {
  list-style: none;
  padding: 0px;
}
.linkedn-link {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  font-weight: 900;
  background-color: #E6E5A3;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 5%;
  color:#7d8f69;
}
.linkedn-link:hover,
.github-link:hover {
  width: 50px;
  height: 50px;
  font-size: 50px;

}
.linkedn-link:active {
  background-color: #0072b1;
  color: white;
}
/* .github-link {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  background-color: #E6E5A3;
  transition: .25s;
  align-items: center;
  justify-content: center;
} */
.github-link,
.linkedn-link {
  margin: 100% 0px;
  transition: .25s;
}
.github-logo {
  width: 40px;
  height: 40px;
  transition: .25s;
}
.github-logo:hover {
  width: 50px;
  height: 50px;
}



